<div id="<%= dom_id schedule %>">
  <p>
    <strong>Início:</strong>
    <%= schedule.begin_time %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= schedule.end_time %>
  </p>

  <p>
    <strong>Nome da reunião:</strong>
    <%= schedule.subject %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= schedule.description %>
  </p>

</div>
