<tbody>
  <tr>
    <td><%= schedule.begin_time&.strftime("%H:%M %d/%m/%y") %></th>
    <td><%= schedule.end_time&.strftime("%H:%M %d/%m/%y") %></td>
    <td><%= schedule.subject %></td>
    <td><%= schedule.description %></td>
    <td><%= link_to "Mostrar Agendamento", schedule %></td>
  </tr>
</tbody>
