<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div class='py-3'>
  <%= link_to "Editar agendamento ", edit_schedule_path(@schedule) %> |
  <%= link_to "Voltar para agenda", schedules_path %>
</div>

<%= button_to "Deletar agendamento", @schedule, method: :delete, class: "btn btn-danger" %>
