<p style="color: green"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Início</th>
      <th scope="col">Fim</th>
      <th scope="col">Nome da reunião</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <%= render @schedule %>
</table>
</div>

<div class='py-3'>
  <%= link_to "Editar agendamento ", edit_schedule_path(@schedule) %> |
  <%= link_to "Voltar para agenda", schedules_path %>
</div>

<%= button_to "Deletar agendamento", @schedule, method: :delete, class: "btn btn-danger" %>
